html,
body {
  background-color: black;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.Layout {
  background-color: black;
  display: flex;
  justify-content: center;
}

.Container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: black;
  font-family: "Roboto";
  color: white;
  text-decoration: none;
  padding: 40px;
  min-height: 100vh;
  max-width: 1280px;

}

.Container__Nav {
  width: 100%;
}
