.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  height: 88px;
  margin-top: 50px;
}

.Nav a{
  color: white;
  text-decoration: none;
}

.Nav__Logo {
  color: white;
}

.Nav__Logo h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.Nav__Logo h2 {
  letter-spacing: 1px;
}

.Nav__Links a {
  font-size: 14px;
  padding-left: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase
}

.Nav__Links a:hover {
  color: rgb(126, 126, 0);
}
